<section class="about-wrapper">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10160.831484748729!2d30.485255988757352!3d50.45585370017332!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4ce89ca6ea05b%3A0x8688282b5a6498b2!2z0LLRg9C7LiDQn9Cw0LLQu9GW0LLRgdGM0LrQsCwgMjksINCa0LjRl9Cy!5e0!3m2!1sru!2sua!4v1440702958904" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    
    <p>
        "COK travel"<br>
        Ukraine, Kiev, Pavlovskaya 29, office 6
    </p>
    
    <p>
        <img src="img/schedule_clock_gr.png" alt="schedule" width="65px">
        Schedule:<br>
        Mon-Fri 10:00 - 19:00<br>
        Sat.  11:00 - 16:00<br>
    </p>
    
    <p>
        <img src="img/phone.png" alt="phone" width="65px">
        (050)613-31-92<br>
        (098)761-98-55<br>
        (073)475-64-56<br>
        (044)484-00-33<br>
    </p>
    
    <p>
        <img src="img/mail_gr.png" alt="e-mail" width="65px">
        info@travelingua.com.ua
    </p>
</section>
